$white: #fff;
$secondary: #010101;
.body-bg
{
    padding: 35px 30px 35px 30px;
    background: #f2f2f2;
    .mat-mdc-card
    {
        box-shadow: 3px 0px 33px rgba(0,0,0,0.1)!important;
        border: none!important;
        position: relative;
    }
}.mat-form-filte{
    padding: 0px 10px;
    position: absolute;
    top: 6px;
    right: 10px;
    width: fit-content;
    // margin-top: -50px !important;
    .filetr-desc{
       
    }
}
.mat-body-cont{
    padding: 0px 16px 23px !important;

}
.but-cont{
    padding: 0px 16px !important;
}
.content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    p{
      font-size: 13px;
    }
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px;
  }
  .fs-text{
    font-size: 13px;
    margin-left: 4px ;
  }
  .btn-pad{
    padding: 1px 6px !important;
  }
  .card-rad{
    border-radius: 0px;
  }
  .table-data-myreservation{
    font-size: 12px;
  }
  // table {
  //   font-family: arial, sans-serif;
  //   border-collapse: collapse;
  //   width: 100%;
  // }
  
  // td, th {
  //   border: 1px solid #dddddd;
  //   text-align: left;
  //   padding: 8px;
  // }
  
  // tr:nth-child(even) {
  //   background-color: #dddddd;
  // }
  // border-right: none !important;
  // .back-but{
  //   button{
  //     background: $secondary !important;
  //     color: $white !important;

  //   }
    
  // }