<div class="body-bg">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>list</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>

            <!-- <div class="mat-elevation-z8"> -->
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="serialno">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row;let i=index"> {{i+1}} </td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="aggregatedCapacity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Aggregate Capacity</th>
                        <td mat-cell *matCellDef="let row"> {{row.aggregatedCapacity}} </td>
                    </ng-container>

                    <!-- Fruit Column -->
                    <!-- <ng-container matColumnDef="buyerAddress">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fruit </th>
                        <td mat-cell *matCellDef="let row"> {{row.buyerAddress}} </td>
                    </ng-container> -->
                    <!-- Progress Column -->
                    <ng-container matColumnDef="capacityRange">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacity </th>
                        <td mat-cell *matCellDef="let row"> {{row.capacityRange}}% </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="frequency">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Frequency </th>
                        <td mat-cell *matCellDef="let row"> {{row.frequency}} </td>
                    </ng-container>

                    <!-- Fruit Column -->
                    <ng-container matColumnDef="reservationStartDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start </th>
                        <td mat-cell *matCellDef="let row"> {{row.reservationStartDate| date:'EEE d MMMM y'}} </td>
                    </ng-container>
                    <!-- Fruit Column -->
                    <ng-container matColumnDef="reservationEndDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> End </th>
                        <td mat-cell *matCellDef="let row"> {{row.reservationEndDate| date:'EEE d MMMM y'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="targetVolumeInMegaWattHour">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Target </th>
                        <td mat-cell *matCellDef="let row"> {{row.targetVolumeInMegaWattHour}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fuelCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> FuelCode </th>
                        <td mat-cell *matCellDef="let row"> {{row.fuelCode}} </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let row; let i=index;" >
                            <!-- <button>certificate</button> -->
                            <button class="btn btn-info" [routerLink]="['/certificate']"
                                [queryParams]="{id: row.devicegroup_uid}" target="_blank">certificate</button>
                        
                        </td>
                      </ng-container> 
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>

                <mat-paginator [pageSize]="pageSize"  aria-label="Select page of users"></mat-paginator>
            <!-- </div> -->
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
    </mat-card>
</div>