<div class="body-bg">
    <mat-card *ngIf="!showdevicesinfo">

        <mat-card-header class="d-flex justify-content-between mat-crd-hide align-items-center ">

            <div>
                <mat-card-title>
                    <h2 class="pb-0 mb-0 fw-bold text-capitalize ps-2">My Reservation List
                    </h2>
                </mat-card-title>
            </div>

        </mat-card-header>
        <hr>
        <mat-card-content>
            <mat-card>

                <mat-card-content>
                    <form [formGroup]="FilterForm">
                        <div class="example-container1 row">
                            <!-- <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label class="text-capitalize">Select country Code</mat-label>
                                    <mat-select formControlName='countryCode'>
                                        <mat-option *ngFor="let code of countrylist" [value]="code.alpha3">
                                            {{code.country}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> -->
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label class="text-capitalize">Select country Code</mat-label>
                                    <input type="text" placeholder="Please Enter countryCode" aria-label="text" matInput
                                        formControlName="countryCode" (ngModelChange)="checkFormValidity()" [matAutocomplete]="auto" multiple>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let code of filteredOptions | async" [value]="code.alpha3">
                                            {{code.country}}
                                        </mat-option>
                                    </mat-autocomplete>

                                </mat-form-field>

                                <!-- <mat-form-field>
                                    <mat-select formControlName="countryCode" [multiple]="true" placeholder="Select Options" matAutocomplete="auto">
                                      <mat-option *ngFor="let code of filteredOptions | async" [value]="code.alpha3">{{code.country}}</mat-option>
                                    </mat-select>
                                  
                                    <mat-autocomplete #auto="matAutocomplete">
                                      <mat-option *ngFor="let code of filteredOptions | async" [value]="code.alpha3">{{code.country}}</mat-option>
                                    </mat-autocomplete>
                                  </mat-form-field> -->

                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label class="text-capitalize">Fuel Code</mat-label>

                                    <mat-select formControlName='fuelCode' (ngModelChange)="checkFormValidity()"  multiple>

                                        <mat-option *ngFor="let code of fuellist" [value]="code.code">
                                            {{code.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>


                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label class="text-capitalize">Off Taker</mat-label>

                                    <mat-select formControlName='offTaker' (ngModelChange)="checkFormValidity()" multiple>

                                        <mat-option *ngFor="let code of offtaker" [value]="code">
                                            {{code}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label class="text-capitalize">SDG Benefits</mat-label>

                                    <mat-select formControlName="SDGBenefits" (ngModelChange)="checkFormValidity()" multiple>

                                        <mat-option *ngFor="let sdgb of sdgblist"
                                            [value]="sdgb.value">{{sdgb.value}}</mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label class="text-capitalize">Start Date </mat-label>
                                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                                        formControlName="reservationStartDate" autocomplete="off"
                                        (ngModelChange)="onEndChangeEvent($event);checkFormValidity()">
                                    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                                        [stepHour]="1" [stepMinute]="1" [stepSecond]="1" [touchUi]="false"
                                        [enableMeridian]="false" [disableMinute]="false" [hideTime]="false">
                                    </ngx-mat-datetime-picker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label class="text-capitalize">End Date </mat-label>
                                    <input matInput [ngxMatDatetimePicker]="picker1" placeholder="Choose a date"
                                        formControlName="reservationEndDate" [min]="endminDate" autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="$any(picker1)"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #picker1 [showSpinners]="true" [showSeconds]="false"
                                        [stepHour]="1" [stepMinute]="1" [stepSecond]="1" [touchUi]="false"
                                        [enableMeridian]="false" [disableMinute]="false" [hideTime]="false">
                                    </ngx-mat-datetime-picker>
                                    <!-- <mat-error *ngIf="checkValidation('endtimestamp')">
                                   <b> {{getErrorcheckdatavalidation()}}</b>
                                  </mat-error> -->
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 d-flex flex-column">
                                <span>Reservation Status:</span>
                                <mat-radio-group formControlName='reservationActive' (ngModelChange)="checkFormValidity()">


                                    <mat-radio-button value="All">All</mat-radio-button>
                                    <mat-radio-button value="Active" class="ms-2">Active</mat-radio-button>
                                    <!-- <mat-radio-button value="Deactive" class="ms-2">Deactive</mat-radio-button> -->
                                </mat-radio-group>


                            </div>
                            <div class="col-md-12 mb-3  d-flex justify-content-end">
                                <div class="">
                                    <button class="btn-primary me-2 btn text-capitalize px-4"
                                    [disabled]="!isAnyFieldFilled" (click)="formfilter()">filter</button>
                                </div>
                                <div class="">
                                    <button class="btn-dark btn text-capitalize px-4" [disabled]="!isAnyFieldFilled" (click)="reset()">Reset</button>
                                </div>


                            </div>

                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
            <hr>
            <mat-progress-spinner [mode]="'indeterminate'" *ngIf="isLoadingResults"></mat-progress-spinner>
            <!-- <div class="mat-elevation-z8"> -->

            <!--            
                <mat-form-field class="mat-form-filte ">
                    <mat-label class="filter-box pb-0 mb-0 ">Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input
                        class="filetr-desc pb-0 mb-0">
                </mat-form-field> -->
            <div class="content mat-elevation-z8 d-flex flex-column">
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="text-truncate">Action</th>
                        <td mat-cell *matCellDef="let row; let i=index;" class="table-data-myreservation">
                            <tr class="d-flex">
                                <!-- <a class="btn-primary d-flex me-2 align-items-center btn-pad btn btn-sm"
                        [routerLink]="['/certificate']" [queryParams]="{id: row.devicegroup_uid,name:row.name}"
                        target="_blank"><mat-icon class="fs-6 mt-2" matTooltip="Certificate"  [matTooltipPosition]="'right'"
                        aria-label="Button that displays a tooltip when focused or hovered over">visibility</mat-icon></a> -->
                                <a matTooltip="Certificate" [matTooltipPosition]="'left'"
                                    aria-label="Button that displays a tooltip when focused or hovered over"
                                    (click)="DisplayCertificatepage(row)">
                                    <mat-icon class="fs-6 mt-2">card_membership</mat-icon></a>
                                &nbsp;&nbsp;
                                <a matTooltip="Devices" [matTooltipPosition]="'above'"
                                    aria-label="Button that displays a tooltip when focused or hovered over"
                                    (click)="DisplayDeviceList(row)"><mat-icon class="fs-6 mt-2">devices</mat-icon> </a>
                            </tr>
                            <!-- <button>certificate</button> -->

                            <!-- <button class="btn-primary btn btn-sm"  ><mat-icon>visibility</mat-icon> Devices</button> -->
                        </td>
                    </ng-container>
                    <!-- Progress Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-truncate"> Name </th>
                        <td mat-cell *matCellDef="let row" class="table-data-myreservation"> {{row.name}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="aggregatedCapacity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-truncate"> Aggregate
                            Capacity</th>
                        <td mat-cell *matCellDef="let row" class="table-data-myreservation">
                            {{row.aggregatedCapacity}} </td>
                    </ng-container>

                    <!-- Fruit Column -->
                    <ng-container matColumnDef="reservationActive">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let row"><span *ngIf="row.reservationActive">Active</span> <span
                                *ngIf="!row.reservationActive">Deactive</span> </td>
                    </ng-container>
                    <!-- Progress Column -->
                    <!-- <ng-container matColumnDef="capacityRange">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacity </th>
                <td mat-cell *matCellDef="let row"> {{row.capacityRange}}% </td>
            </ng-container> -->

                    <!-- Name Column -->
                    <ng-container matColumnDef="frequency">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-truncate">Issuance
                            Frequency </th>
                        <td mat-cell *matCellDef="let row" class="table-data-myreservation"> {{row.frequency}} </td>
                    </ng-container>

                    <!-- Fruit Column -->
                    <ng-container matColumnDef="reservationStartDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-truncate"> Start </th>
                        <td mat-cell *matCellDef="let row" class="table-data-myreservation">
                            {{row.reservationStartDate| date:'EEE d MMM y hh:mm:ss'}} </td>
                    </ng-container>
                    <!-- Fruit Column -->
                    <ng-container matColumnDef="reservationEndDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-truncate"> End </th>
                        <td mat-cell *matCellDef="let row" class="table-data-myreservation">
                            {{row.reservationEndDate| date:'EEE d MMM y hh:mm:ss'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="targetVolumeInMegaWattHour">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-truncate"> Target </th>
                        <td mat-cell *matCellDef="let row" class="table-data-myreservation">
                            {{row.targetVolumeInMegaWattHour}} </td>
                    </ng-container>
                    <ng-container matColumnDef="SDGBenefits">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> SDGBenefits </th>
                        <td mat-cell *matCellDef="let row"> {{row.SDGBenefits}} </td>
                    </ng-container>
                    <ng-container matColumnDef="number Of Devices">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-truncate"> Number Of
                            Devices </th>
                        <td mat-cell *matCellDef="let row" class="table-data-myreservation"> {{row.numberOfdevices}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <!-- <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td> -->
                    </tr>
                </table>
                <!-- <mat-paginator [pageSize]="pageSize" aria-label="Select page of users"></mat-paginator> -->
                <mat-paginator  [length]="totalRows" [pageSize]="pageSize" (page)="pageChangeEvent($event)"
                aria-label="Select page">
              </mat-paginator>
            </div>


            <!-- </div> -->
            <mat-card-footer></mat-card-footer>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="showdevicesinfo">
        <mat-card-header class="d-flex justify-content-between  align-items-center">
            <mat-card-title class="d-flex justify-content-between">
                <div>
                    <h2 class="pb-0 mb-0 fw-bold text-capitalize">All devices information
                    </h2>
                </div>
            </mat-card-title>

            <div class="d-flex justify-content-end">
                <button class=" btn-content-back btn d-flex justify-content-end align-items-center btn-sm"
                    (click)="DisplayList()"><mat-icon class="fs-5 me-2 mt-1">arrow_back</mat-icon> Go
                    Back</button>
            </div>


        </mat-card-header>
        <hr>

        <mat-card-content>
            <mat-card>

                <mat-card-content>
                    <h2 style="text-align: center;color:#f2be1a; font-size: 25px;" class="text-capitalize">
                        <b>Reservation details</b>
                    </h2>

                    <div class='content'>
                        <div class='column'>
                            <div class='row '>
                                <p><b> Name</b>:&nbsp;
                                    <!--{{item.generationStartTime+'000'| date:'EEE d MMMM y hh:ss'}} - in UTC:-->
                                    {{group_info.name}}
                                </p>
                            </div>
                        </div>
                        <div class='column'>
                            <div class='row'>
                                <p><b> Start
                                        Date</b>:&nbsp;<!--{{item.generationEndTime+'000'| date:'EEE d MMMM y hh:ss'}}  - in UTC:-->
                                    {{group_info.reservationStartDate |date:'EEE d MMMM y'}}</p>

                            </div>

                        </div>
                        <div class='column'>
                            <div class='row'>
                                <p><b> End
                                        Date</b>:&nbsp;<!--{{item.generationEndTime+'000'| date:'EEE d MMMM y hh:ss'}}  - in UTC:-->
                                    {{group_info.reservationEndDate |date:'EEE d MMMM y'}}</p>
                            </div>
                        </div>

                    </div>
                    <div class='content'>
                        <div class='column'>
                            <div class='row '>
                                <p><b> Target Capacity</b>:&nbsp;
                                    <!--{{item.generationStartTime+'000'| date:'EEE d MMMM y hh:ss'}} - in UTC:-->
                                    {{group_info.targetVolumeInMegaWattHour}}(Mwh)
                                </p>
                            </div>
                        </div>
                        <div class='column'>
                            <div class='row'>
                                <p><b>Frequency</b>:&nbsp;<!--{{item.generationEndTime+'000'| date:'EEE d MMMM y hh:ss'}}  - in UTC:-->
                                    {{group_info.frequency}}</p>

                            </div>

                        </div>

                        <div class='column'>
                            <div class='row'>
                                <p><b> off
                                        takers</b>:&nbsp;<!--{{item.generationEndTime+'000'| date:'EEE d MMMM y hh:ss'}}  - in UTC:-->
                                    {{group_info.offTakers}}</p>
                            </div>
                        </div>
                    </div>
                    <div class='content'>

                        <div class='column'>
                            <div class='row'>
                                <p><b> number of
                                        devices</b>:&nbsp;<!--{{item.generationEndTime+'000'| date:'EEE d MMMM y hh:ss'}}  - in UTC:-->
                                    {{group_info.numberOfdevices}}</p>
                            </div>
                        </div>
                        <div class='column'>
                            <div class='row'>
                                <p *ngIf="!(group_info.reservationActive)"><b>Status:</b>:
                                    &nbsp;Deactive</p>
                                <p *ngIf="(group_info.reservationActive)"><b>Status:</b>:
                                    &nbsp;Active</p>
                            </div>

                        </div>
                        <div class='column'>
                            <div class='row'>
                                <p><b>SDG benefits:</b>:
                                    &nbsp;{{group_info.SDGBenefits}}</p>

                            </div>
                        </div>
                    </div>
                    <br>
                </mat-card-content>
            </mat-card>
            <hr>
            <!-- <mat-progress-spinner [mode]="'indeterminate'" *ngIf="isLoadingResults"></mat-progress-spinner>
             -->
            <div class="content mat-elevation-z8 d-flex flex-column">
                <table mat-table [dataSource]="dataSource1" matSort>
                    <ng-container matColumnDef="projectName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.projectName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="countryCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Country</th>
                        <td mat-cell *matCellDef="let row"> {{row.countryname}} </td>
                    </ng-container>

                    <ng-container matColumnDef="capacity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Capacity(kW) </th>
                        <td mat-cell *matCellDef="let row"> {{row.capacity}} </td>
                    </ng-container>

                    <!-- Fruit Column -->
                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> On Boarding Date </th>
                        <td mat-cell *matCellDef="let row"> {{row.createdAt| date:'EEE d MMM y'}} </td>
                    </ng-container>
                    <!-- Fruit Column -->
                    <ng-container matColumnDef="commissioningDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Commissioning Date </th>
                        <td mat-cell *matCellDef="let row"> {{row.commissioningDate| date:'EEE d MMM y'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="offTaker">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> OffTaker </th>
                        <td mat-cell *matCellDef="let row"> {{row.offTaker}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fuelCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fuel Code </th>
                        <td mat-cell *matCellDef="let row"> {{row.fuelname}} </td>
                    </ng-container>
                    <ng-container matColumnDef="deviceTypeCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Device Code </th>
                        <td mat-cell *matCellDef="let row"> {{row.devicetypename}} </td>
                    </ng-container>
                    <ng-container matColumnDef="SDGBenefits">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> SDGBenefits </th>
                        <td mat-cell *matCellDef="let row"> {{row.SDGBenefits}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                </table>
            </div>

            <mat-card-footer></mat-card-footer>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
    </mat-card>
</div>