<div class="body-bg">
    <mat-card *ngIf="!showdevicesinfo">

        <mat-card-header class="d-flex justify-content-between mat-crd-hide align-items-center ">

            <div>
                <mat-card-title>
                    <h2 class="pb-0 mb-0 fw-bold text-capitalize ps-2">List
                    </h2>
                </mat-card-title>
            </div>
            <div class="filter-cont pb-0 mb-0">
                <mat-form-field class="mat-form-filte pb-0 mb-0 ">
                    <mat-label class="filter-box pb-0 mb-0 ">Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input
                        class="filetr-desc pb-0 mb-0">
                </mat-form-field>
            </div>



        </mat-card-header>
        <hr>
        <mat-card-content>
           

            <!-- <div class="mat-elevation-z8"> -->
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="serialno">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row;let i=index"> {{i+1}} </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="aggregatedCapacity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Aggregate Capacity</th>
                    <td mat-cell *matCellDef="let row"> {{row.aggregatedCapacity}} </td>
                </ng-container>

                <!-- Fruit Column -->
                <!-- <ng-container matColumnDef="buyerAddress">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fruit </th>
                        <td mat-cell *matCellDef="let row"> {{row.buyerAddress}} </td>
                    </ng-container> -->
                <!-- Progress Column -->
                <!-- <ng-container matColumnDef="capacityRange">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacity </th>
                        <td mat-cell *matCellDef="let row"> {{row.capacityRange}}% </td>
                    </ng-container> -->

                <!-- Name Column -->
                <ng-container matColumnDef="frequency">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Frequency </th>
                    <td mat-cell *matCellDef="let row"> {{row.frequency}} </td>
                </ng-container>

                <!-- Fruit Column -->
                <ng-container matColumnDef="reservationStartDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Start </th>
                    <td mat-cell *matCellDef="let row"> {{row.reservationStartDate| date:'EEE d MMM y'}} </td>
                </ng-container>
                <!-- Fruit Column -->
                <ng-container matColumnDef="reservationEndDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> End </th>
                    <td mat-cell *matCellDef="let row"> {{row.reservationEndDate| date:'EEE d MMM y'}} </td>
                </ng-container>
                <ng-container matColumnDef="targetVolumeInMegaWattHour">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Target </th>
                    <td mat-cell *matCellDef="let row"> {{row.targetVolumeInMegaWattHour}} </td>
                </ng-container>
                <!-- <ng-container matColumnDef="fuelCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> FuelCode </th>
                        <td mat-cell *matCellDef="let row"> {{row.fuelCode}} </td>
                    </ng-container> -->
                <ng-container matColumnDef="number Of Device">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> number Of Device </th>
                    <td mat-cell *matCellDef="let row"> {{row.numberOfdevices}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let row; let i=index;">
                        <tr class="d-flex">
                            <button class="btn-primary d-flex me-2 align-items-center btn-pad btn btn-sm"
                                [routerLink]="['/certificate']" [queryParams]="{id: row.devicegroup_uid,name:row.name}"
                                target="_blank"><mat-icon class="fs-6 mt-2">visibility</mat-icon>Certificate</button>
                            <br>
                            <button class="btn-primary d-flex align-items-center btn-pad btn btn-sm"
                                (click)="DisplayDeviceList(row.deviceIds)"><mat-icon
                                    class="fs-6 mt-2">visibility</mat-icon> Devices</button>
                        </tr>
                        <!-- <button>certificate</button> -->

                        <!-- <button class="btn-primary btn btn-sm"  ><mat-icon>visibility</mat-icon> Devices</button> -->
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSize]="pageSize" aria-label="Select page of users"></mat-paginator>
            <!-- </div> -->
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
    </mat-card>

    <mat-card *ngIf="showdevicesinfo">
        <mat-card-header class="d-flex justify-content-between  align-items-center">
            <mat-card-title class="d-flex justify-content-between">
                <div>
                    <h2 class="pb-0 mb-0 fw-bold text-capitalize">Device information</h2>
                </div>
            </mat-card-title>

            <div class="d-flex justify-content-end">
                <button class=" btn-content-back btn d-flex justify-content-end align-items-center btn-sm"
                    (click)="DisplayList()"><mat-icon class="fs-5 me-2 mt-1">arrow_back</mat-icon> Go
                    Back</button>
            </div>


        </mat-card-header>
        <hr>
        <mat-card-content>

            <!-- <samp style="text-align: center;">groupId:<i>{{group_uid}}</i></samp>
             -->
            <ng-container *ngFor="let item of DevicesList">

                <mat-card class="innermat-card example-card1 border">
                    <mat-card-header>
                        <mat-card-title>
                            <h2 style="text-align: center;color:#f2be1a;"><b>{{item.externalId}}</b></h2>
                        </mat-card-title>

                    </mat-card-header>

                    <mat-card-content>

                        <div class='content'>
                            <div class='column'>
                                <div class='row '>
                                    <div class="col-3 card card-rad border border-end-0">
                                        <div class="card-body d-flex align-items-center">
                                            <p><b>projectName
                                            </b>:&nbsp;<!--{{item.generationStartTime+'000'| date:'EEE d MMMM y hh:ss'}} - in UTC:-->{{item.projectName}}
                                        </p>
                                        </div>
                                        
                                    </div>
                                    <div class="col-3 card card-rad border border-end-0">
                                        <div class="card-body d-flex align-items-center">
                                            <p><b>countryCode</b>:&nbsp;<!--{{item.generationEndTime+'000'| date:'EEE d MMMM y hh:ss'}}  - in UTC:-->
                                                {{item.countryCode}}</p>
                                        </div>
                                        
                                    </div>
                                    <div class="col-3 card card-rad border border-end-0">
                                        <div class="card-body d-flex align-items-center"><p><b>Capacity</b>: &nbsp;{{item.capacity}}</p></div>
                                        
                                    </div>
                                    <div class="col-3 card  card-rad border-end ">
                                        <div class="card-body">
                                            <p><b>createdAt</b>: &nbsp;{{item.createdAt|date:'EEE d MMMM y hh:ss'}}</p>
                                        </div>
                                        
                                    </div>
                        
                                </div>
                                <div class='row'>
                                    <div class="col-3 card card-rad border border-end-0 border border-top-0">
                                        <div class="card-body d-flex align-items-center">
                                            <p><b>offTaker</b>:&nbsp;<!--{{item.generationEndTime+'000'| date:'EEE d MMMM y hh:ss'}}  - in UTC:-->
                                                {{
                                                item.offTaker
                                                }}</p>
                                        </div>
                                        
                                    </div>
                                    <div class="col-3 card card-rad border-end-0 border border-top-0">
                                        <div class="card-body d-flex align-items-center">
                                            <p><b>deviceTypeCode</b>: &nbsp;{{item.deviceTypeCode}}</p>
                                        </div>
                                        
                                    </div>
                                    <div class="col-3 card card-rad border-end-0 border border-top-0">
                                        <div class="card-body d-flex align-items-center">
                                            <p><b>fuelCode</b>: &nbsp;{{
                                                item.fuelCode
                                                }}</p>
                                        </div>
                                        
                                    </div>
                                    <div class="col-3 card card-rad border-end border border-top-0">
                                        <div class="card-body d-flex align-items-center">
                                            <p><b>commissioningDate
                                            </b>:&nbsp;{{ item.commissioningDatedate| date:'EEE d MMMM y hh:ss'}}
                                        </p>
                                        </div>
                                        
                                    </div>
                        
                                </div>
                                <div class='row'>
                                    <div class="col-3 card card-rad border-end-0 border border-top-0">
                                        <div class="card-body d-flex align-items-center">
                                            <p><b>deviceDescription
                                            </b>:&nbsp;{{ item.deviceDescription}}
                                        </p>
                                        </div>
                                        
                                    </div>
                                    <div class="col-3 card card-rad border-end-0 border border-top-0">
                                        <div class="card-body d-flex align-items-center">
                                            <p><b>meterReadtype</b>: &nbsp;{{item.meterReadtype}}</p>
                                        </div>
                                        
                                    </div>
                                    <div class="col-3 card card-rad border-end-0 border border-top-0">
                                        <div class="card-body d-flex align-items-center">
                                            <p><b>version</b>: &nbsp;{{item.version}}</p>
                                        </div>
                                        
                                    </div>
                                    <div class="col-3 card card-rad border-end border border-top-0">
                                        <div class="card-body d-flex align-items-center">
                                            <p><b>Status</b>: &nbsp;{{item.status}}</p>
                                        </div>
                                        
                                    </div>
                        
                                </div>
                                <div class='row'>
                                    <div class="col-3 card card-rad  border border-top-0">
                                        <div class="card-body d-flex align-items-center">
                                            <p><b>SDGBenefits</b>:&nbsp;<!--{{item.generationEndTime+'000'| date:'EEE d MMMM y hh:ss'}}  - in UTC:-->
                                                {{
                                                item.SDGBenefits
                                                }}</p>
                                        </div>
                                      
                                    </div>
                                    
                                </div>
                            </div>
                        
                        </div>
                    </mat-card-content>
                </mat-card>
                <br>
            </ng-container>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
    </mat-card>
</div>