.body-bg {
    padding: 35px 30px 35px 30px;
    background: #f2f2f2;
  
    .mat-mdc-card {
      box-shadow: 3px 0px 33px rgba(0, 0, 0, 0.1) !important;
      border: none !important;
    }
  }
  
  p {
    font-family: Lato;
  }
  
  .output {
    background-color: rgb(253, 253, 253);
    padding: 0px 10px 10px 10px;
    margin-bottom: 40px;
    margin-top: 20px;
  
    box-shadow: 2px 2px 2px #000;
  }
  
  .example-container {
    background-color: white;
    padding: 10px 20px 20px 20px;
  
  }
  
  .example-container1 mat-form-field+mat-form-field {
    margin-left: 8px;
    padding: 10px 0px 0px 0px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  .addbtn {
    width: 200px;
    margin: 20px 50px 20px 20px;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .danger-btn
  {
    border-radius: 50px!important;
    padding: 3px;
    font-size: 10px!important;
    .material-icons{
      font-size: 18px !important;
    }
    .mat-icon{
      height: 19px;
      width: 19px;
    }
  }
  .btn-outline-danger{
    --bs-btn-color: #f2be1a;
    --bs-btn-border-color: #f2be1a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f2be1a;
    --bs-btn-hover-border-color: #f2be1a;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f2be1a;
    --bs-btn-active-border-color: #f2be1a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f2be1a;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f2be1a;
    --bs-gradient: none;
  }
  
  .cursor-pointer
  {
    cursor: pointer;
  }
  
  
  @-webkit-keyframes scroll-inner {
    from {
      position: relative;
      top: 5%;
    }
    to {
      position: relative;
      top: 10%;
    }
  }
  @keyframes scroll-inner {
    from {
      position: relative;
      top:5%;
    }
    to {
      position: relative;
      top: 10%;
    }
  }
  @-webkit-keyframes scroll-mouse {
    from {
      position: relative;
      top: 0;
    }
    to {
      position: relative;
      top: 15px;
    }
  }
  @keyframes scroll-mouse {
    from {
      position: relative;
      top: 0;
    }
    to {
       position: relative;
      top: 15px;
    }
  }
  
  
  
  
    .scroll-down {
  
      -webkit-animation: scroll-inner 1.5s;
      animation: scroll-inner 1.5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease;
      animation-timing-function: ease;
    }
    .progress-bar {
        padding: 0;
      }
      
      .progress {
        width: 50px;
      }
      
      #fileInput {
        position: absolute;
        cursor: pointer;
        z-index: 10;
        opacity: 0;
        height: 100%;
        left: 0px;
        top: 0px;
      }
      
      .mat-toolbar-single-row {
        height: auto !important;
        background: transparent;
        padding: 0;
      }
      
      .mat-toolbar-single-row button {
        width: 100px;
      }
      
      .mat-form-field {
        width: 100%;
      }
      
      .mat-mdc-form-field {
        display: block;
      }
      
      .message {
        background-color: #ddd;
        padding: 15px;
        color: #333;
        border: #aaa solid 1px;
        border-radius: 4px;
        margin-bottom: 10px;
      }
      