mat-card-content{
    padding: 10px;
  }
  .content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    p{
      font-size: 13px;
    }
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px;
  }