{
    "extends": ["react-app"],
    "overrides": [
        {
            "files": ["**/*.ts?(x)"],
            "rules": {
                "no-unused-vars": "off",
                "@typescript-eslint/no-unused-vars": "off"
            }
        }
    ]
}
