$primary: #f2be1a;
$secondary: #010101;
$tritary: #3f3f3f;
$gray: #3f3f3f;
$white: #fff;
$danger: #f44336;



.example-header {
    position: fixed;
    background: $white;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  .spacer {
    flex: 1 1 auto;
  }



  .custom-header
  {
    .mat-mdc-button:not(:disabled)
    {
      color: $secondary;
    }
  }

