<div class="bg-solar"></div>
<div
    class="login-wrapper d-flex align-self-center align-items-center flex-column h-100vh justify-content-center drec-login">
    <mat-card class="box">
        <mat-card-header>
            <!-- logo -->
            <div class="py-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="151" height="48" viewBox="0 0 151 48">
                    <path
                        d="M16.7,28.5V26.1a.58.58,0,0,0-.59-.58H13.7a.58.58,0,0,0-.57.58v2.4a.58.58,0,0,0,.58.58h2.41a.59.59,0,0,0,.58-.58"
                        fill="#f2be1a"></path>
                    <path
                        d="M12.12,19.29h2.42a.58.58,0,0,0,.58-.58v-2.4a.58.58,0,0,0-.58-.58H12.12a.58.58,0,0,0-.58.58v2.4a.58.58,0,0,0,.58.58"
                        fill="#f2be1a"></path>
                    <path
                        d="M16.59,13.8v1.74A.42.42,0,0,0,17,16h1.75a.42.42,0,0,0,.42-.42h0V13.8a.42.42,0,0,0-.42-.42H17a.42.42,0,0,0-.42.42"
                        fill="#f2be1a"></path>
                    <path
                        d="M11.9,10.82H17A1.23,1.23,0,0,0,18.2,9.6v-5A1.23,1.23,0,0,0,17,3.32H11.9a1.23,1.23,0,0,0-1.23,1.23V9.6a1.22,1.22,0,0,0,1.23,1.22h0"
                        fill="#f2be1a"></path>
                    <path
                        d="M10.86,25.57A1.57,1.57,0,0,0,9.28,24H2.79a1.57,1.57,0,0,0-1.58,1.57h0V32A1.57,1.57,0,0,0,2.78,33.6h6.5A1.58,1.58,0,0,0,10.86,32h0Z"
                        fill="#f2be1a"></path>
                    <path
                        d="M20.21,36.62a1.58,1.58,0,0,0-1.57-1.57h-6.5a1.57,1.57,0,0,0-1.58,1.56h0v6.45a1.57,1.57,0,0,0,1.57,1.57h6.5a1.57,1.57,0,0,0,1.58-1.57Z"
                        fill="#f2be1a"></path>
                    <path
                        d="M3.24,19.46H7.76a1.1,1.1,0,0,0,1.1-1.1v-4.5a1.09,1.09,0,0,0-1.1-1.09H3.24a1.09,1.09,0,0,0-1.1,1.09v4.5a1.1,1.1,0,0,0,1.1,1.1"
                        fill="#f2be1a"></path>
                    <path
                        d="M14.25,31.52a.23.23,0,0,0-.23.23h0v1a.23.23,0,0,0,.23.23h.94a.23.23,0,0,0,.23-.23h0v-.94a.22.22,0,0,0-.23-.22h0Z"
                        fill="#404041"></path>
                    <path
                        d="M13.12,13.66V12.24a.35.35,0,0,0-.35-.35H11.33a.35.35,0,0,0-.35.35v1.43a.36.36,0,0,0,.35.34h1.44a.35.35,0,0,0,.35-.34"
                        fill="#404041"></path>
                    <path
                        d="M18.82,30.21a.46.46,0,0,0-.45.46v1.87a.45.45,0,0,0,.45.46h1.89a.46.46,0,0,0,.45-.46V30.67a.45.45,0,0,0-.45-.45Z"
                        fill="#404041"></path>
                    <path
                        d="M19.3,2.35h1.33A.32.32,0,0,0,21,2V.71a.32.32,0,0,0-.32-.32H19.3A.32.32,0,0,0,19,.7h0V2a.32.32,0,0,0,.32.32"
                        fill="#404041"></path>
                    <path
                        d="M22.33,10.39V8.45A.47.47,0,0,0,21.86,8H19.91a.48.48,0,0,0-.48.47v1.94a.48.48,0,0,0,.48.46h1.94a.47.47,0,0,0,.47-.46"
                        fill="#404041"></path>
                    <path
                        d="M22.57,45.07h-2a.48.48,0,0,0-.48.48v2a.48.48,0,0,0,.47.49h2a.48.48,0,0,0,.48-.47h0v-2a.48.48,0,0,0-.48-.48"
                        fill="#404041"></path>
                    <path
                        d="M7.46,36.77H5.57a.46.46,0,0,0-.44.46V39.1a.44.44,0,0,0,.46.45H7.47a.46.46,0,0,0,.46-.45V37.23a.48.48,0,0,0-.46-.46"
                        fill="#404041"></path>
                    <path
                        d="M5.59,10.85H7a.34.34,0,0,0,.34-.33V9.15A.34.34,0,0,0,7,8.82H5.59a.33.33,0,0,0-.33.33v1.37a.33.33,0,0,0,.33.33"
                        fill="#404041"></path>
                    <path
                        d="M2.8,22.62V20.75a.47.47,0,0,0-.46-.46H.46a.46.46,0,0,0-.46.46v1.87a.47.47,0,0,0,.46.46H2.34a.47.47,0,0,0,.46-.46"
                        fill="#404041"></path>
                    <path
                        d="M8.69,21.25V22.4a.27.27,0,0,0,.28.27h1.15a.28.28,0,0,0,.28-.27V21.25a.28.28,0,0,0-.28-.27H9a.27.27,0,0,0-.28.27"
                        fill="#404041"></path>
                    <path
                        d="M23.83,0V1.28H26a.91.91,0,0,1,.9.9V5.93a.9.9,0,0,1-.9.9h0a.78.78,0,0,0,.18-.49V3.18a.77.77,0,0,0-.76-.78H22.21a.77.77,0,0,0-.77.77V6.35a.77.77,0,0,0,.77.76h1.62v7.47a9.34,9.34,0,0,1,1.59,18.56.61.61,0,0,1,.56.6v2.48a.6.6,0,0,1-.6.6h-.05a.17.17,0,0,0,0-.1V34.84a.45.45,0,0,0-.45-.45H23a.46.46,0,0,0-.46.45v1.88a.46.46,0,0,0,.46.45h.82v1.56a.88.88,0,0,1,.32-.07h3.4a.83.83,0,0,1,.83.83V42.9a.83.83,0,0,1-.83.82H27.1a.67.67,0,0,0,.16-.43V40.43a.71.71,0,0,0-.7-.69H23.68a.69.69,0,0,0-.69.69v2.86a.7.7,0,0,0,.69.7h.15v3.88A23.94,23.94,0,1,0,23.83,0h0"
                        fill="#f2be1a"></path>
                    <polygon points="56.46 44.05 55.37 44.05 55.37 33.65 56.46 33.65 56.46 44.05 56.46 44.05"
                        stroke="#000" stroke-linejoin="round"></polygon>
                    <polygon
                        points="69.33 42.47 69.36 42.47 69.36 33.65 70.44 33.65 70.44 44.05 69.09 44.05 62.73 35.15 62.7 35.15 62.7 44.05 61.61 44.05 61.61 33.65 62.97 33.65 69.33 42.47 69.33 42.47"
                        stroke="#000" stroke-linejoin="round"></polygon>
                    <polygon points="76.69 44.05 75.6 44.05 75.6 33.65 76.69 33.65 76.69 44.05 76.69 44.05"
                        stroke="#000" stroke-linejoin="round"></polygon>
                    <polygon
                        points="85.26 44.05 84.18 44.05 84.18 34.62 80.61 34.62 80.61 33.65 88.84 33.65 88.84 34.62 85.26 34.62 85.26 44.05 85.26 44.05"
                        stroke="#000" stroke-linejoin="round"></polygon>
                    <polygon points="93.84 44.05 92.76 44.05 92.76 33.65 93.84 33.65 93.84 44.05 93.84 44.05"
                        stroke="#000" stroke-linejoin="round"></polygon>
                    <path
                        d="M100.4,40.35H105l-2.31-5.47Zm-1.58,3.71H97.55l4.64-10.41h1.06l4.64,10.41h-1.26l-1.18-2.74H100Z"
                        stroke="#000" stroke-linejoin="round"></path>
                    <polygon
                        points="115.02 44.05 113.94 44.05 113.94 34.62 110.36 34.62 110.36 33.65 118.59 33.65 118.59 34.62 115.02 34.62 115.02 44.05 115.02 44.05"
                        stroke="#000" stroke-linejoin="round"></polygon>
                    <polygon points="123.6 44.05 122.51 44.05 122.51 33.65 123.6 33.65 123.6 44.05 123.6 44.05"
                        stroke="#000" stroke-linejoin="round"></polygon>
                    <polygon
                        points="131.86 42.47 131.89 42.47 135.39 33.65 136.56 33.65 132.4 44.05 131.31 44.05 127.26 33.65 128.47 33.65 131.86 42.47 131.86 42.47"
                        stroke="#000" stroke-linejoin="round"></polygon>
                    <polygon
                        points="141.31 43.09 147.02 43.09 147.02 44.05 140.22 44.05 140.22 33.65 146.84 33.65 146.84 34.62 141.31 34.62 141.31 38.16 146.48 38.16 146.48 39.13 141.31 39.13 141.31 43.09 141.31 43.09"
                        stroke="#000" stroke-linejoin="round"></polygon>
                    <path
                        d="M60.18,22.3h2.65a15.14,15.14,0,0,0,3.29-.36,7.07,7.07,0,0,0,2.63-1.2,5.63,5.63,0,0,0,1.75-2.18,7.8,7.8,0,0,0,.64-3.3,6.47,6.47,0,0,0-.64-2.94,5.83,5.83,0,0,0-1.72-2.07A7.51,7.51,0,0,0,66.25,9a11.75,11.75,0,0,0-3.06-.41h-3V22.3ZM55.08,4h7.65A21.79,21.79,0,0,1,68,4.57a12.08,12.08,0,0,1,4.37,2,9.66,9.66,0,0,1,3,3.6,12,12,0,0,1,1.1,5.36,11,11,0,0,1-1.06,4.93A10.5,10.5,0,0,1,72.51,24a12.54,12.54,0,0,1-4.15,2.19,15.92,15.92,0,0,1-4.94.75H55.08Z"
                        fill="#f2be1a"></path>
                    <polygon points="78.36 16.93 86.41 16.93 86.41 20.83 78.36 20.83 78.36 16.93 78.36 16.93"
                        fill="#f2be1a" fill-rule="evenodd"></polygon>
                    <path
                        d="M94.68,13.48h3c.46,0,.94,0,1.45-.05a4.8,4.8,0,0,0,1.4-.3,2.5,2.5,0,0,0,1-.76,2.33,2.33,0,0,0,.4-1.47,2.39,2.39,0,0,0-.36-1.4,2.3,2.3,0,0,0-.9-.79,4,4,0,0,0-1.28-.38A9.32,9.32,0,0,0,98,8.24H94.68ZM89.58,4h9a15.74,15.74,0,0,1,3.35.34,8,8,0,0,1,2.78,1.14,5.67,5.67,0,0,1,1.9,2.14,7.3,7.3,0,0,1,.7,3.37A6.64,6.64,0,0,1,106,15.09a5.72,5.72,0,0,1-3.72,2.16L108.15,27H102l-4.82-9.21H94.7V27H89.58Z"
                        fill="#f2be1a"></path>
                    <polygon
                        points="110.97 3.95 126.7 3.95 126.7 8.63 116.07 8.63 116.07 12.93 126.11 12.93 126.11 17.61 116.07 17.61 116.07 22.3 127.29 22.3 127.29 26.98 110.97 26.98 110.97 3.95 110.97 3.95"
                        fill="#f2be1a"></polygon>
                    <path
                        d="M146.52,9.94a5,5,0,0,0-1.85-1.41,6.63,6.63,0,0,0-7.32,1.62,7.1,7.1,0,0,0-1.41,2.36,8.78,8.78,0,0,0-.51,3,8.36,8.36,0,0,0,.51,3,7.65,7.65,0,0,0,1.39,2.35,6.3,6.3,0,0,0,2.08,1.54,6,6,0,0,0,2.57.55,5.44,5.44,0,0,0,4.77-2.48L151,23.56a8.9,8.9,0,0,1-3.73,3,11.74,11.74,0,0,1-4.64,1,14.21,14.21,0,0,1-5-.85,11.46,11.46,0,0,1-4-2.42,10.86,10.86,0,0,1-2.6-3.82,12.84,12.84,0,0,1-.93-5,12.81,12.81,0,0,1,.93-5,10.77,10.77,0,0,1,2.6-3.82,11.27,11.27,0,0,1,4-2.44,14.44,14.44,0,0,1,5-.85,13.81,13.81,0,0,1,2,.18,11.64,11.64,0,0,1,2.1.57,9.5,9.5,0,0,1,2,1,7.87,7.87,0,0,1,1.71,1.6l-3.93,3.19Z"
                        fill="#f2be1a"></path>
                </svg>
            </div>

            <h2 class="pb-0 mb-0 fw-bold">Register new account
            </h2>
        </mat-card-header>
        <!-- 
        <form [formGroup]="registerForm" #formDirective="ngForm" (ngSubmit)="onSubmit(registerForm, formDirective)"
            class="px-3 example-form "> -->
        <!-- <div class="form-scroll"> -->
        <mat-card-content>
            <mat-stepper>
                <mat-step label="user info" >
                    <form [formGroup]="registerForm" class="px-3 example-form">
                        <!-- <ng-template matStepLabel></ng-template> -->
                        <ng-template matStepContent>
                            <mat-form-field appearance="fill">
                                <mat-label>First Name</mat-label>
                                <input autofocus type="text" matInput placeholder="First Name*"
                                    formControlName="firstName">
                                <mat-error class="py-3" *ngIf="checkValidation('firstName')">
                                    {{ fieldRequired }}

                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Last Name</mat-label>
                                <input autofocus type="text" matInput placeholder="Last Name*"
                                    formControlName="lastName">
                                <mat-error class="py-3" *ngIf="checkValidation('lastName')">
                                    {{ fieldRequired }}

                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input autofocus type="email" matInput placeholder="Email *" formControlName="email">
                                <mat-error class="py-3" *ngIf="checkValidation('email')">
                                    {{ emaiErrors() }}

                                </mat-error>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </ng-template>


                    </form>
                </mat-step>
                <mat-step label="organization info" >
                    <form [formGroup]="registerForm" class="px-3 example-form">
                        <!-- <ng-template matStepLabel></ng-template> -->
                        <ng-template matStepContent>
                            <mat-form-field appearance="fill">
                                <mat-label>organizationType</mat-label>
                                <mat-select formControlName="organizationType" placeholder="Organization Type *">
                                    <mat-option *ngFor="let org of orgtype" [value]="org.value">
                                        {{org.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <mat-error class="py-3" *ngIf="checkValidation('organizationType')">
                                    {{ fieldRequired }}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>OrgName</mat-label>
                                <input autofocus type="text" matInput placeholder="OrgName *" formControlName="orgName">
                                <mat-error class="py-3" *ngIf="checkValidation('orgName')">
                                    {{ fieldRequired }}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>OrgAddress</mat-label>
                                <input autofocus type="text" matInput placeholder="OrgAddress"
                                    formControlName="orgAddress">
                                <mat-error class="py-3" *ngIf="checkValidation('orgAddress')">
                                    {{ fieldRequired }}
                                </mat-error>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </ng-template>
                    </form>

                </mat-step>
                <mat-step label="passwoed" state="chat">
                    <form [formGroup]="registerForm">
                        <ng-template matStepLabel></ng-template>

                        <mat-form-field appearance="fill">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password *"
                                formControlName="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-hint>Choose a password of at max 6 characters (upper and/or lower case) and one
                                number</mat-hint>
                            <mat-error class="py-3 " *ngIf="checkValidation('password')">
                                {{ getErrorPassword() }}
                            </mat-error>
                            <br>
                        </mat-form-field>
                        <mat-form-field class="mb-4">
                            <mat-label>Enter your confirmPassword</mat-label>
                            <input type="password" [type]="hide ? 'password' : 'text'" matInput
                                placeholder="confirm Password *" formControlName="confirmPassword">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-hint>Choose a password of at max 6 characters (upper and/or lower case) and one
                                number</mat-hint>
                            <mat-error class="py-3" *ngIf="checkValidation('confirmPassword')">
                                {{ getErrorPassword() }}
                            </mat-error>
                        </mat-form-field>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </form>
                </mat-step>
                <mat-step label="Secret Key">
                    <form [formGroup]="registerForm" class="px-3 example-form">
                        <ng-template matStepLabel></ng-template>
                        <mat-form-field class="mb-5">
                            <mat-icon matPrefix>person_outline</mat-icon>
                            <input autofocus type="text" matInput placeholder="Secret Key *"
                                formControlName="secretKey">
                            <mat-hint>Secret key should be of 6 characters length and combination should include only
                                A-Z upper case and 0-9 numbers.</mat-hint>
                            <mat-error class="py-3" *ngIf="checkValidation('secretKey')">
                                {{ getErrorsecretKey() }}
                            </mat-error>
                            <br>
                        </mat-form-field>

                        <button mat-button matStepperPrevious>Back</button>

                        <button mat-raised-button matStepperNext class="btn-primary btn btn-block"
                            [disabled]="registerForm.invalid" (click)="onSubmit(registerForm)">Submit</button>
                        <!-- <button [disabled]="registerForm.invalid" class="btn-primary btn btn-block">Submit</button> -->
                    </form>
                </mat-step>

                <!-- Icon overrides. -->
                <!-- <ng-template matStepperIcon="phone">
                    <mat-icon>done</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="chat">
                    <mat-icon>done</mat-icon>
                </ng-template> -->
            </mat-stepper>
        </mat-card-content>
        <!-- </div> -->
        <!-- <div class="p-3 mb-2">
                <button [disabled]="registerForm.invalid" class="btn-primary btn btn-block">Submit</button>
            </div> -->

        <div class="d-flex justify-content-between mb-2 px-3">
            <p class="mb-0 pb-0">have an account?</p>
            <p class="mb-0 pb-0"><a routerLink="/login" class="text-warning">Login</a></p>
        </div>
        <!-- </form> -->
    </mat-card>
</div>