<div class="body-bg">
    <mat-card>
        <mat-card-header class="d-flex justify-content-between mat-crd-hide align-items-center">

            <div>
                <h2 class="pb-0 mb-0 fw-bold text-capitalize">Device Update Form
                </h2>
            </div>
            <!-- <div>
                <button class="btn btn-dark justify-content-end px-4" (click)="adddevice()">
                    <mat-icon class="align-middle">add_circle</mat-icon> Add More Device
                </button>
            </div> -->


        </mat-card-header>
        <hr class="mb-0 pb-0">
        <form [formGroup]="myform" (ngSubmit)="onSubmit()">
            <mat-card-content>

              
                    <!-- <div *ngFor="let phone of deviceForms.controls; let i=index" [formGroupName]="i"> -->
                        <mat-card>
                            <!-- <mat-card-header>
                                <mat-card-title>
                                    <h2 class="pb-0 mb-0 fw-bold text-capitalize">Device &nbsp;{{1+i}}
                                        <button mat-raised-button color="warn" (click)='deletePhone(i)'><mat-icon>delete</mat-icon></button>
                                    </h2>
                                </mat-card-title>
                            </mat-card-header> -->

                            <hr>
                            <mat-card-content>
                                <div class="example-container1 row">
                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">project Name</mat-label>
                                            <input matInput autocomplete="off" placeholder="projectName" formControlName='projectName' [ngModel]="projectName">
                                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                            <!-- <mat-hint>Hint</mat-hint> -->
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">External ID</mat-label>
                                            <input matInput placeholder="name" formControlName='externalId'  [ngModel]="externalId">
                                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                            <!-- <mat-hint>Hint</mat-hint> -->
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">Select country Code</mat-label>
                                            <mat-select formControlName='countryCode'  [ngModel]="countryCode">
                                                <mat-option *ngFor="let code of countrylist" [value]="code.alpha3">
                                                    {{code.country}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <!-- <mat-form-field>
                                            <mat-select formControlName='countryCode' placeholder="Bank" #singleSelect>
                                              <mat-option>
                                                <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
                                              </mat-option>
                                        
                                              <mat-option *ngFor="let code of countrylist | async" [value]="code.alpha3">
                                                {{code.country}}
                                              </mat-option>
                                            </mat-select>
                                          </mat-form-field> -->
                                    </div>

                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">commissioning Date</mat-label>
                                            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                                                formControlName="commissioningDate" [max]="maxDate"  [ngModel]="commissioningDate">
                                            <mat-datepicker-toggle matSuffix
                                                [for]="$any(picker)"></mat-datepicker-toggle>
                                            <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                                                [stepHour]="1" [stepMinute]="1" [stepSecond]="1" [touchUi]="false"
                                                [enableMeridian]="false" [disableMinute]="false" [hideTime]="false">
                                            </ngx-mat-datetime-picker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="example-container1 row">
                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">capacity</mat-label>
                                            <input matInput placeholder="capacity" type="number"  [ngModel]="capacity"
                                                formControlName='capacity' [min]=1>
                                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                            <!-- <mat-hint>Hint</mat-hint> -->
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">off Taker</mat-label>

                                            <mat-select formControlName='offTaker' placeholder="offTaker"  [ngModel]="offTaker">

                                                <mat-option *ngFor="let code of offteker" [value]="code">
                                                    {{code}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">Fuel Code</mat-label>

                                            <mat-select formControlName='fuelCode' placeholder="fuelCode"  [ngModel]="fuelCode">

                                                <mat-option *ngFor="let code of fuellist" [value]="code.code">
                                                    {{code.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">Device Type Code</mat-label>

                                            <mat-select formControlName='deviceTypeCode' placeholder="deviceTypeCode"  [ngModel]="deviceTypeCode">

                                                <mat-option *ngFor="let code of devicetypelist" [value]="code.code">
                                                    {{code.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="example-container1 row">
                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">impact Story</mat-label>
                                            <input matInput placeholder="impactStory" formControlName='impactStory'  [ngModel]="impactStory">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">Device Description</mat-label>

                                            <mat-select formControlName='deviceDescription'  [ngModel]="deviceDescription"
                                                placeholder="deviceDescription">

                                                <mat-option *ngFor="let code of devicediscription" [value]="code">
                                                    {{code}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </div>

                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">SDG Benefits</mat-label>

                                            <mat-select formControlName="SDGBenefits"  [(ngModel)]="SDGBenefits" multiple>

                                                <mat-option *ngFor="let sdgb of sdgblist"
                                                    [value]="sdgb.name">{{sdgb.value}}</mat-option>

                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <!-- <mat-form-field appearance="outline">
                                        <mat-label>Version</mat-label>
                                        <input matInput placeholder="version" formControlName='version'>
                                    </mat-form-field> -->

                                    <div class="col-md-3">
                                        <button
                                            class="btn py-2 pb-3 fw-bold btn-outline-primary d-block w-100 text-capitalize align-middle cursor-pointer"
                                            (click)="addmore()" *ngIf="showaddmore">
                                            Add more details <mat-icon
                                                class="pt-2 scroll-down">keyboard_arrow_down</mat-icon>
                                        </button>

                                        <button
                                            class="btn py-2 pb-3 fw-bold btn-outline-danger d-block w-100 text-capitalize align-middle cursor-pointer"
                                            (click)="nomore()" *ngIf="shownomore">
                                            hide details <mat-icon class="pt-2 scroll-down">keyboard_arrow_up</mat-icon>
                                        </button>


                                    </div>


                                </div>
                                <div class="example-container1 row" *ngIf="addmoredetals">
                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">Address</mat-label>
                                            <input autocomplete="off" matInput placeholder="address" formControlName='address'  [ngModel]="address">
                                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                            <!-- <mat-hint>Hint</mat-hint> -->
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">Latitude</mat-label>
                                            <input matInput placeholder="latitude" formControlName='latitude'  [ngModel]="latitude">
                                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                            <mat-error>please enter the valid value</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">longitude</mat-label>
                                            <input matInput placeholder="longitude" formControlName='longitude'  [ngModel]="longitude">
                                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                            <mat-error>please enter the valid value</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-3">

                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">Quality Labels</mat-label>
                                            <input matInput placeholder="qualityLabels" formControlName='qualityLabels'  [ngModel]="qualityLabels">
                                        </mat-form-field>
                                    </div>

                                </div>


                                <div class="example-container1 row" *ngIf="addmoredetals">
                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">grid Inter connection</mat-label>
                                            <input matInput placeholder="gridInterconnection"
                                                formControlName='gridInterconnection'  [ngModel]="gridInterconnection">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">Data</mat-label>
                                            <input matInput placeholder="data" formControlName='data'>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-3">
                                        <!--  <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">Energy Storage</mat-label>
                                           <input matInput placeholder="energyStorage" formControlName='energyStorage'> -->
                                         
                                           <mat-radio-group  formControlName='energyStorage'  [ngModel]="energyStorage" (ngModelChange)="showenergycapacity_input($event)">
                                            <span >Energy Storage:</span>

                                            <mat-radio-button [value]=true checked>True</mat-radio-button>
                                                <mat-radio-button [value]=false>False</mat-radio-button>
                                            </mat-radio-group>
                                        <!-- </mat-form-field>
                                         -->
                                        
                                    </div>

                                    <div class="col-md-3" *ngIf="showinput">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-capitalize">Energy Storage Capacity</mat-label>
                                            <input matInput autocomplete="off" placeholder="energyStorageCapacity"   [ngModel]="energyStorageCapacity"type="number"
                                                formControlName='energyStorageCapacity'>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </mat-card-content>
                            <!-- <mat-card-footer></mat-card-footer> -->
                        </mat-card>
                    <!-- </div> -->
              
            </mat-card-content>
            <mat-card-footer>
                <div class="example-container row">
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn-primary btn text-capitalize px-4"
                            >submit</button>
                    </div>
                </div>
            </mat-card-footer>
        </form>
    </mat-card>
</div>