.body-bg {
    padding: 35px 30px 35px 30px;
    background: #f2f2f2;
  
    .mat-mdc-card {
      box-shadow: 3px 0px 33px rgba(0, 0, 0, 0.1) !important;
      border: none !important;
    }
  }table {
    width: 100%;
  }
  .nested-card-header{
    padding: 16px 10px 16px !important;
    background: #e6e6e6 !important;
  }
  .nested-card {
      
    padding: 0px !important;
  }