<div class="body-bg">
    <mat-card>
        <mat-card-header class="d-flex justify-content-between mat-crd-hide align-items-center">

            <div>
                <h2 class="pb-0 mb-0 fw-bold text-capitalize">Make a Reservation
                </h2>
            </div>

        </mat-card-header>

        <mat-card-content class="mat-body-cont">
            <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
                <div class="example-container1 row">
                    <div class="col-md-3">

                        <mat-form-field appearance="outline">
                            <mat-label class="text-capitalize">Name</mat-label>
                            <input matInput placeholder="Name" type="test" formControlName='name' min="1"
                                autocomplete="off">

                        </mat-form-field>
                    </div>
                    <div class="col-md-3">

                        <mat-form-field appearance="outline">
                            <mat-label class="text-capitalize">Target Capacity(MWH)</mat-label>

                            <input matInput placeholder="targetCapacityInMegaWattHour" type="number"
                                formControlName='targetCapacityInMegaWattHour' min="1" autocomplete="off">

                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label class="text-capitalize">Start Date </mat-label>
                            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                                formControlName="reservationStartDate" autocomplete="off"
                                (ngModelChange)="onEndChangeEvent($event)">
                            <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                                [stepMinute]="1" [stepSecond]="1" [touchUi]="false" [enableMeridian]="false"
                                [disableMinute]="false" [hideTime]="false">
                            </ngx-mat-datetime-picker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label class="text-capitalize">End Date </mat-label>
                            <input matInput [ngxMatDatetimePicker]="picker1" placeholder="Choose a date"
                                formControlName="reservationEndDate" [min]="endminDate" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="$any(picker1)"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker1 [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                                [stepMinute]="1" [stepSecond]="1" [touchUi]="false" [enableMeridian]="false"
                                [disableMinute]="false" [hideTime]="false">
                            </ngx-mat-datetime-picker>
                            <!-- <mat-error *ngIf="checkValidation('endtimestamp')">
                           <b> {{getErrorcheckdatavalidation()}}</b>
                          </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="example-container1 row">
                    <div class="col-md-3">

                        <mat-form-field appearance="outline">
                            <mat-label class="text-capitalize">Frequency</mat-label>
                            <mat-select formControlName='frequency' placeholder="frequency">

                                <mat-option *ngFor="let f of frequency" [value]="f">
                                    {{f}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">

                        <mat-form-field appearance="outline">
                            <mat-label class="text-capitalize">BlockchainAddress</mat-label>

                            <input matInput placeholder="blockchainAddress" type="text"
                                formControlName='blockchainAddress' autocomplete="off">

                        </mat-form-field>
                    </div>
                    <div class="col-md-4">

                        <mat-radio-group formControlName='authorityToExceed'>
                            <span>Authority to Exceed:</span>
                            <br>
                            <mat-radio-button [value]=true checked>True</mat-radio-button>
                            <mat-radio-button [value]=false>False</mat-radio-button>
                        </mat-radio-group>


                    </div>

                </div>
              
            </form>
            <div class="example-container1  row" style="padding: 10px">
                <mat-card class="nested-card">
                    <mat-card-header class="d-flex justify-content-between nested-card-header mat-crd-hide align-items-center">

                        <div>
                            <h4 class="pb-0 mb-0 fw-bold text-capitalize">select the devices
                            </h4>
                        </div>

                    </mat-card-header>
                    <!-- <hr> -->
                    <mat-card-content class="pt-3" >
                        <h3>Use filters to select devices </h3>
                        <form [formGroup]="FilterForm">
                            <div class="example-container1 row">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label class="text-capitalize">Select country Code</mat-label>
                                        <mat-select formControlName='countryCode'>
                                            <mat-option *ngFor="let code of countrylist" [value]="code.alpha3">
                                                {{code.country}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label class="text-capitalize">Fuel Code</mat-label>

                                        <mat-select formControlName='fuelCode' placeholder="fuelCode">

                                            <mat-option *ngFor="let code of fuellist" [value]="code.code">
                                                {{code.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label class="text-capitalize">Device Type Code</mat-label>

                                        <mat-select formControlName='deviceTypeCode' placeholder="deviceTypeCode">

                                            <mat-option *ngFor="let code of devicetypelist" [value]="code.code">
                                                {{code.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label class="text-capitalize">off Taker</mat-label>

                                        <mat-select formControlName='offTaker' placeholder="offTaker">

                                            <mat-option *ngFor="let code of offtaker" [value]="code">
                                                {{code}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>capacity</mat-label>
                                        <input matInput placeholder="Search" formControlName='capacity' #input>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12  d-flex justify-content-end">
                                    <div class="">
                                        <button class="btn-primary me-2 btn text-capitalize px-4"
                                            (click)="applyFilter()">filter</button>
                                    </div>
                                    <div class="">
                                        <button class="btn-primary btn text-capitalize px-4"
                                            (click)="reset()">Reset</button>
                                    </div>
    

                                </div>
                               
                            </div>
                        </form>
                        <div class="content mat-elevation-z8 text-center" *ngIf="loading">
                            <!-- <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading"></mat-progress-spinner> -->

                            <table mat-table [dataSource]="dataSource" matSort>
                                <!--         
                                    <ng-container matColumnDef="select">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                [aria-label]="checkboxLabel()">
                                            </mat-checkbox>
                                        </th>
                                        <td mat-cell *matCellDef="let row">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? selection.toggle(row) : null"
                                                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                            </mat-checkbox>
                                        </td>
                                    </ng-container> -->
                                <ng-container matColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                                        </mat-checkbox>
                                    </mat-header-cell>
                                    <mat-cell *cdkCellDef="let row">
                                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)">
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>

                                <!-- Position Column -->
                                <ng-container matColumnDef="onboarding_date">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> OnBoarding Date </th>
                                    <td mat-cell *matCellDef="let row;let i=index"> {{row.createdAt| date:'EEE d MMMyyyy hh:mm:ss'}} </td>
                                </ng-container>
                                <ng-container matColumnDef="projectName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> projectName </th>
                                    <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="externalId">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.externalId}} </td>
                                </ng-container>


                                <ng-container matColumnDef="countryCode">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
                                    <td mat-cell *matCellDef="let element"> {{element.countryname}} </td>
                                </ng-container>

                                <ng-container matColumnDef="fuelCode">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> FuelCode </th>
                                    <td mat-cell *matCellDef="let element"> {{element.fuelname}} </td>
                                </ng-container>
                                <!-- Status Column -->
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacity </th>
                                    <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns; "
                                    (click)="selection.toggle(row)">
                                </tr>
                            </table>
                            <mat-paginator [pageSize]="pageSize" aria-label="Select page of users"></mat-paginator>
                        </div>
                    </mat-card-content>
                </mat-card>


            </div>
        </mat-card-content>
        <br>
        <mat-card-footer>
            <div class="example-container mb-3 me-3 row">
                <div class="col-12 d-flex justify-content-end">
                    <button type="submit" [disabled]="reservationForm.invalid"
                        class="btn-primary btn text-capitalize px-4" (click)="onSubmit()">submit</button>
                </div>
            </div>
        </mat-card-footer>

    </mat-card>
    <ng-template let-data #myCityDialog>
        <h2 mat-dialog-title></h2>
        <div mat-dialog-content>
            <p>
                <mat-radio-group
                [(ngModel)]="data.continewwithunavilableonedevice">
                                <span>Continue reservation if some devices are unavailable:</span>
                                <br>
                                <mat-radio-button [value]=true checked>Yes</mat-radio-button>
                                <mat-radio-button [value]=false>No</mat-radio-button>
                            </mat-radio-group>
    
              </p>
          <p>
           
            <mat-radio-group
            [(ngModel)]="data.continueWithTCLessDTC">
            <span>Continue reservation if target capacity is less than estimated reachable capacity of devices between selected period:</span>
            <br>
            <mat-radio-button [value]=true checked>Yes</mat-radio-button>
            <mat-radio-button [value]=false>No</mat-radio-button>
        </mat-radio-group>
          </p>
         
        </div>
        <div mat-dialog-actions>
          <!-- <button mat-button (click)="onContinue()">Continue</button> -->
          <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Continue</button>
        </div>
      </ng-template>
</div>
