<div class="body-bg">
  
  <mat-card>
    <mat-card-header class="d-flex mb-3 justify-content-between mat-crd-hide align-items-center ">

      <div>
        <mat-card-title>
          <h2 class="pb-0 mb-0 fw-bold text-capitalize ps-2">List
          </h2>
      </mat-card-title>
      </div>
      <div>
        <button class="btn btn-dark justify-content-end px-4" routerLink="/device/add">
          <mat-icon class="align-middle pe-2">add_circle</mat-icon>Add New Devices</button>
      </div>
    

  </mat-card-header>
  <hr class="mt-0 pt-0">
    
    <mat-card-content class="mat-body-cont text-center">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
      </mat-form-field>
      <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading"></mat-progress-spinner>
      <div class="content mat-elevation-z8 text-center" *ngIf="!loading">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

          <!-- Checkbox Column -->
          <!-- <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container> -->

          <!-- Position Column -->
          <ng-container matColumnDef="onboarding_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> OnBoarding Date </th>
            <td mat-cell *matCellDef="let row;let i=index"> {{row.createdAt| date:'EEE d MMM y hh:mm:ss'}} </td>
          </ng-container>
          <ng-container matColumnDef="projectName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> projectName </th>
            <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
          </ng-container>
          <ng-container matColumnDef="externalId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.externalId}} </td>
          </ng-container>

         
          <ng-container matColumnDef="countryCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.countryname}} </td>
          </ng-container>

        
        

          <ng-container matColumnDef="fuelCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FuelCode </th>
            <td mat-cell *matCellDef="let element"> {{element.fuelname}} </td>
          </ng-container>
          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let row; let i=index;">
              <!-- <button>certificate</button> -->
              <a  [routerLink]="['../edit']" [queryParams]="{id:row.externalId}"><mat-icon>edit</mat-icon></a>
              <!-- <a  [routerLink]="['../edit']" [queryParams]="{id:row.externalId}"><mat-icon>add</mat-icon></a> -->

            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
        <mat-paginator [pageSize]="pageSize" aria-label="Select page of users"></mat-paginator>
      </div>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>