<div class="content mat-elevation-z8 text-center" *ngIf="showname">

    <h2 style="text-align: center;color:#f2be1a; font-size: 16px;" class="text-capitalize mt-0 pt-0 mb-0 pb-0">
        <b>{{data.devicename}}</b></h2>
</div>
<!-- <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading"></mat-progress-spinner> -->
<div class="content mat-elevation-z8 text-center" *ngIf="filter">
    <table mat-table [dataSource]="dataSource">
      
        <ng-container matColumnDef="startdate">
            <th mat-header-cell *matHeaderCellDef> Start Datetime </th>
            <td mat-cell *matCellDef="let element"> {{ element.startdate | timezone: device_timezone:'YYYY-MM-DD HH:mm:ss'|date:'long'}}
                </td>
        </ng-container>
        <ng-container matColumnDef="enddate">
            <th mat-header-cell *matHeaderCellDef>End Datetime </th>
            <td mat-cell *matCellDef="let element"> {{ element.enddate | timezone:device_timezone:'YYYY-MM-DD HH:mm:ss' |date:'long'}}
                 </td>
        </ng-container>
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Value(Wh) </th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>
        <ng-container matColumnDef="ReadType">
            <th mat-header-cell *matHeaderCellDef>Read Type </th>
            <td mat-cell *matCellDef="let element"  [style.color]="element.color"> {{element.readtype}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data found in Ongoing</td>
        </tr>
    </table>

    <mat-paginator #paginator [length]="totalRows" [pageSize]="pageSize" (page)="pageChangeEvent($event)"
        aria-label="Select page">tggd
    </mat-paginator>
</div>