.body-bg {
    padding: 35px 30px 35px 30px;
    background: #f2f2f2;
  
    .mat-mdc-card {
      box-shadow: 3px 0px 33px rgba(0, 0, 0, 0.1) !important;
      border: none !important;
    }
    .mat-form-filte{
        padding: 0px 10px;
        // margin-top: -50px !important;
        .filetr-desc{
           
        }
    }
    .mat-body-cont{
        padding: 0px 16px 23px !important;

    }
    .but-cont{
        padding: 0px 16px !important;
    }
    // .mat-mdc-form-field-focus-overlay{
    //     background-color: white !important;

    // }
  }
