// Colors
$primary: #f2be1a;
$secondary: #010101;
$tritary: #3f3f3f;
$gray: #3f3f3f;
$white: #fff;
$danger: #f44336;

.body-bg
{
    padding: 35px 30px 35px 30px;
    background: #f2f2f2;
    .mat-mdc-card
    {
        box-shadow: 3px 0px 33px rgba(0,0,0,0.1)!important;
        // border: none!important;
    }
}