/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body,
.mat-mdc-card-title,
.mdc-button,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat', sans-serif !important;
}

// Variables
// Colors
$primary: #f2be1a;
$secondary: #010101;
$tritary: #3f3f3f;
$gray: #3f3f3f;
$lightgray: #e6e6e6;
$white: #fff;
$danger: #f44336;


// Fonts
$f-12: 12px;
$f-14: 14px;
$f-16: 16px;

html,
body {
    height: 100%;
}

// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.drec-login {
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #F7F7F7 !important;
        border-radius: 6px !important;
    }
}




// Colors 

.btn-primary {
    background-color: $primary !important;
    border: 1px solid $primary !important;
    color: $gray !important;
    font-weight: 600 !important;

    &:hover,
    &:active,
    &:link,
    &:focus {
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1) !important;
        background-color: $primary ;
        border: 1px solid $primary ;
        color: $gray ;
    }
}
//   this is for back button
.btn-content-back{
    background-color: $secondary !important;
    color: $white !important;
    font-weight: 600;
    border: 1px solid $secondary;


    &:hover,
    &:active,
    &:link,
    &:focus {
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1) !important;
        background-color: $secondary !important;
        border: 1px solid $secondary !important;
        color: $white !important;
    }
   
}
.btn-content-back.btn.btn-content-back:first-child:active{
    background-color: #010101 !important;
    color: $white !important;
}



.btn-check:checked+.btn.btn-primary,
:not(.btn-check)+.btn.btn-primary:active,
.btn.btn-primary:first-child:active,
.btn.btn-primary.active,
.btn.btn-primary.show,
.btn.btn-primary:disabled,
.btn.btn-primary.disabled,
fieldset:disabled .btn.btn-primary {
    @extend .btn-primary
}


// Mat Input

.mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input,
.mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control,
.mat-mdc-form-field-icon-prefix,
[dir=rtl] .mat-mdc-form-field-icon-suffix {
    font-size: $f-14;
    top: -5px;
    position: relative;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before,
.mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: $primary !important;
    border-radius: 6px !important;
    ;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: $gray !important;
    border-radius: 6px !important;
    ;
}

.mdc-text-field--filled {
    height: 45px !important;
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: $danger !important;
}

.mat-drawer-inner-container {
    background-color: $white !important;
}


.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
    font-size: $f-12 !important;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    font-size: $f-14 !important;
    top: 25px !important;
}


// All tables
tr.mat-mdc-header-row.mdc-data-table__header-row.cdk-header-row {
    background: $lightgray;
    // color: $white;
    box-shadow: 0px 13px 5px rgba(0, 0, 0, 0.1);

    th {
        // color: $white;
    }
}



// Mat Styles Overiding
.mat-sort-header-arrow {
    color: $gray !important;
}

.mat-mdc-table .mdc-data-table__row {
    height: 34px !important;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.mat-mdc-card-header-text {
    a {
        color: $primary;
    }
}

// Steps Register
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: $primary !important;
}

.mat-step-header.cdk-keyboard-focused,
.mat-step-header.cdk-program-focused,
.mat-step-header:hover:not([aria-disabled]),
.mat-step-header:hover[aria-disabled=false] {
    background-color: white !important;
}
// .mat-step-header:visited{
//     background-color: #f2be1a !important;
// }
// .mat-step-header:visited:not([aria-disabled]){
//     background-color: #f2be1a !important;
// }
// .mat-step-header:visited[aria-disabled=false]{
//     background-color: #f2be1a !important;
// }
// .mat-step-header:active[aria-disabled=false],
// .mat-step-header:active:not([aria-disabled]),
// .mat-step-header:active,
// .mat-step-header.cdk-keyboard-focused,
// .mat-step-header.cdk-program-focused
// {
//     background-color: #f2be1a !important;
// }

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: $secondary !important;
}

// Temp'/
.mat-crd-hide {
    .mat-mdc-card-header-text {
        display: none !important;
    }
}

// Input Outlines
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing
{
border-color:$primary!important ;
border-left-color:$primary!important ;
}

// Input width
.mat-mdc-form-field
{
    width: 100%;
}

.mat-calendar-body-selected
{
    background-color: $primary;
    color: $secondary;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
    // height: 15px !important;
    // margin-top: 38px;
}
.filter-cont{
    .mdc-text-field{
        padding: 0px 5px 0px  !important;
    }
}
// .mat-mdc-form-field-flex{
//     height: 10px !important;
// }
// .mat-mdc-form-field-subscript-wrapper{
//     height:0px !important;
// }
.mdc-button:hover{
    background: #ffc3009e;
    border-radius: 0px !important;
}
// .mat-mdc-form-field-subscript-wrapper{
//     height: 0px;
// }
.mat-horizontal-stepper-header{
    flex-direction: column !important;
}
.mat-mdc-form-field-error{
    font-size: 10px !important;
}
.mat-step-text-label {
    font-size: 12px !important;
    margin-top: 5px;
}
.mat-stepper-horizontal-line{
    margin-top: 8px !important;
}
.btn.btn-primary:disabled{
    background-color: #f5db87 !important;
    border: 1px solid #f5db87;
}

// this is for next button content 
// .btn-content{
//     background-color: #f2be1a !important;
//     border: 1px solid #f2be1a;
//     color: #3f3f3f !important;
//     font-weight: 600;
//   }


.value-fs{
    .mat-mdc-select-value-text{
        font-size: 14px !important;
    }
 
}
// mat-select{
//     ::-webkit-input-placeholder{
//         font-size: 10px !important;
//     }
// }
.mat-mdc-radio-button.mat-accent{
    --mdc-radio-selected-focus-icon-color:#f2be1a;
    --mdc-radio-selected-hover-icon-color:#f2be1a;
    --mdc-radio-selected-icon-color: #f2be1a;
    --mdc-radio-selected-pressed-icon-color: #f2be1a;
    --mat-mdc-radio-checked-ripple-color: #f2be1a;
}
// this hover effect for the device list 
// .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not(), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not(), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not(){
//     background: #ffc3009e !important;

// }
.mat-expansion-panel-header:hover{
    background: #ffc3009e !important;
}
.add-reservation{
 
    .mdc-data-table__cell, .mdc-data-table__header-cell{
        border: 0px !important;
    }
    tr.mat-mdc-header-row.mdc-data-table__header-row.cdk-header-row{
        border-bottom: 1px solid rgba(0, 0, 0, 0.12)!important;
    }
    .mat-mdc-table .mdc-data-table__row{
        border-bottom: 1px solid rgba(0, 0, 0, 0.12)!important;
    }
   
}
.mat-mdc-dialog-surface.mdc-dialog__surface::-webkit-scrollbar{
    display: none !important;
}