<div class="body-bg">
<mat-card class="example-card">
	<mat-card-header>
		<mat-card-title>
			<h2 class="pb-0 mb-0 fw-bold text-capitalize">All Certificate</h2>
		</mat-card-title>
	</mat-card-header>
	<hr>
	<mat-card-content>
		<h2 style="text-align: center;color:#f2be1a;"><b>{{group_name}}</b></h2>
		<samp style="text-align: center;">groupId:<i>{{group_uid}}</i></samp>
		
	<ng-container *ngFor="let item of data">
		
		<mat-card  class="innermat-card example-card1 border" >
			<mat-card-header>
			  <mat-card-title>
				<a style ="text-align: right;" href= {{energyurl+item.creationBlockHash}} target="_blank">Certificate On Blockchain Explorer</a>
			  </mat-card-title>

			</mat-card-header>
		  
			<mat-card-content>
				
				<div class='content'>
				<div class='column' >
					<div class='row'><p><b>Generation Start Date</b>:&nbsp;<!--{{item.generationStartTime+'000'| date:'EEE d MMMM y hh:ss'}} - in UTC:--> {{item.generationStartTimeinUTC}}</p></div>
				  </div>
				  <div class='column' >
					<div class='row'><p><b>Generation End Date</b>:&nbsp;<!--{{item.generationEndTime+'000'| date:'EEE d MMMM y hh:ss'}}  - in UTC:--> {{item.generationEndTimeinUTC}}</p></div>
				  </div>
				  <div class='column'>
					<div class='row'><p *ngFor="let item1 of item.owners | keyvalue"><b>Amount of Read</b>: &nbsp;{{item1.value}}</p></div>
				  </div>
			</div>
			 <h3>Per Single Device Contribution For Certificate</h3>
			 <table mat-table [dataSource]="item.perDeviceCertificateLog">
				<ng-container matColumnDef="certificate_issuance_startdate">
				  <th mat-header-cell *matHeaderCellDef>StartDate </th>
				  <td mat-cell *matCellDef="let element"> {{element.certificate_issuance_startdate}}</td>
				</ng-container>
			  
				<ng-container matColumnDef="certificate_issuance_enddate">
				  <th mat-header-cell *matHeaderCellDef> EndDate</th>
				  <td mat-cell *matCellDef="let element"> {{element.certificate_issuance_enddate}}</td>
				</ng-container>
			  
				<ng-container matColumnDef="deviceid">
				  <th mat-header-cell *matHeaderCellDef> Device Name </th>
				  <td mat-cell *matCellDef="let element"> {{element.deviceid }} </td>
				</ng-container>
				<ng-container matColumnDef="readvalue_watthour">
					<th mat-header-cell *matHeaderCellDef> Read Value </th>
					<td mat-cell *matCellDef="let element"> {{element.readvalue_watthour }} </td>
				  </ng-container>
				
			  
				<tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
			  </table>
			</mat-card-content>
		  </mat-card>
		<br>
		</ng-container>
	</mat-card-content>
</mat-card>
</div>
