<div class="body-bg">
<mat-card class="example-card">
	<mat-card-header>
		<mat-card-title>
			<h2 class="pb-0 mb-0 fw-bold text-capitalize">All Certificate</h2>
			

		</mat-card-title>
		
	</mat-card-header>
	<hr>
	<mat-card-content>
		<h2 style="text-align: center;color:#f2be1a; font-size: 25px;" class="text-capitalize"><b>{{group_name}}</b></h2>
		<h2 style="text-align: center;color:#f2be1a; font-size: 16px;" class="text-capitalize mt-0 pt-0 mb-0 pb-0"><b>{{selectedBlockchainAccount ? 'Metamask connected Account'+selectedBlockchainAccount : 'Please select account in Metmask'}}<button   *ngIf="!checkMetamaskConnected()" (click)="selectAccountAddressFromMetamask()" class="btn-sm button-click-here text-info"> Click here</button> </b></h2>
		<h6 class="text-capitalize please-note text-danger" ><b>Please note this application assumes you are using metamask and are connected to this RPC {{blockchainProperties?.rpcNode}} if not please connect to this RPC and try the transactions</b></h6>

		<!-- <samp style="text-align: center;">groupId:<i>{{group_uid}}</i></samp>
		 -->
	<ng-container *ngFor="let item of data">
		
		<mat-card  class="innermat-card example-card1 border" >
			<mat-card-header class="">
				<div class="col-12">
					<mat-card-title class=" d-flex justify-content-between align-items-center">
						<div>
							<a  matTooltip="Link to Certificate"  [matTooltipPosition]="'right'"
							aria-label="Button that displays a tooltip when focused or hovered over" style ="text-align: right;" href= {{energyurl+item.creationBlockHash}} target="_blank" class="certificate-text d-flex text-capitalize">
								<mat-icon class="mt-1" >card_membership</mat-icon><div class="certificate-id-text"><div class="id-text">{{item?.id}}</div></div></a>
						</div>
						<div class=" ">
							<button class=" btn-content-back btn d-flex justify-content-end btn-sm" *ngIf="!item.CertificateClaimed" (click)="selectCertificateForClaim(item)">Claim</button>
							<button class=" btn-content-back btn d-flex justify-content-end btn-sm"  *ngIf="item.CertificateClaimed">Claimed</button>
								
						</div>
					</mat-card-title>

				</div>
				
				<!-- <div class="d-flex justify-content-end">
					<button class=" btn-content-back btn d-flex justify-content-end align-items-center btn-sm"  *ngIf="checkMetamaskConnected()" (click)="selectCertificateForClaim(item)">Claim</button>
						
				</div>
	 -->
	
			</mat-card-header>
		  
			<mat-card-content>
				<div class="text-center text-danger mt-0 mb-2 pt-0 " *ngIf="!checkMetamaskConnected()">Metamask not Connected, please connect metamask and then
					<button class="button-click-here mt-0 pt-0" (click)="selectAccountAddressFromMetamask()"> click here</button> to select account for claim</div>
				
				<div class='content'>
				<div class='column' >
					<div class='row '><p><b>Generation Start Date</b>:&nbsp;<!--{{item.generationStartTime+'000'| date:'EEE d MMMM y hh:ss'}} - in UTC:--> {{item.generationStartTimeinUTC}}</p></div>
				  </div>
				  <div class='column' >
					<div class='row'><p><b>Generation End Date</b>:&nbsp;<!--{{item.generationEndTime+'000'| date:'EEE d MMMM y hh:ss'}}  - in UTC:--> {{item.generationEndTimeinUTC}}</p></div>
				  </div>
				  <div class='column'>
					<div class='row'><p *ngFor="let item1 of item.owners | keyvalue"><b>Volume</b>: &nbsp;{{item1.value}}(Wh)</p></div>
				  </div>
			</div>
			<mat-accordion>
				
				<mat-expansion-panel (opened)="panelOpenState = true"
									 (closed)="panelOpenState = false">
				  <mat-expansion-panel-header>
					<mat-panel-title>
						<h3 class="fs-text mt-3">Per Single Device Contribution For Certificate</h3>
					</mat-panel-title>
					<!-- <mat-panel-description>
					  Currently I am {{panelOpenState ? 'open' : 'closed'}}
					</mat-panel-description> -->
				  </mat-expansion-panel-header>
				  <table mat-table [dataSource]="item.perDeviceCertificateLog" class="mt-2">
					<ng-container matColumnDef="certificate_issuance_startdate">
					  <th mat-header-cell *matHeaderCellDef>StartDate </th>
					  <td mat-cell *matCellDef="let element" class="table-data"> {{element.certificate_issuance_startdate}}</td>
					</ng-container>
				  
					<ng-container matColumnDef="certificate_issuance_enddate">
					  <th mat-header-cell *matHeaderCellDef> EndDate</th>
					  <td mat-cell *matCellDef="let element" class="table-data"> {{element.certificate_issuance_enddate}}</td>
					</ng-container>
				  
					<ng-container matColumnDef="deviceid">
					  <th mat-header-cell *matHeaderCellDef> Device Name </th>
					  <td mat-cell *matCellDef="let element" class="table-data"> {{element.deviceid }} </td>
					</ng-container>
					<ng-container matColumnDef="readvalue_watthour">
						<th mat-header-cell *matHeaderCellDef> Read Value </th>
						<td mat-cell *matCellDef="let element" class="table-data"> {{element.readvalue_watthour }} </td>
					  </ng-container>
					
				  
					<tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
				  </table>
				</mat-expansion-panel>
			  </mat-accordion>
			
		
			</mat-card-content>
		  </mat-card>
		  
		<br>
		</ng-container>
		<div *ngIf="!data?.length" style="text-align: center;color: #f2be1a;">No Certificate</div>
	</mat-card-content>
</mat-card>
<ng-template let-bottomSheetRef="bottomSheetRef" #templateBottomSheet>
  
	<mat-card>
        <mat-card-header class="d-flex justify-content-between mat-crd-hide align-items-center">

            <div>
            <h2 class="pb-0 mb-0 fw-bold text-capitalize">Add Claim
                </h2>
            </div>
            <div>
				<button class="border-0 bg-white" (click)="closeTemplateSheetMenu()"><mat-icon>close</mat-icon></button>
            </div>


        </mat-card-header>
        <hr class="mb-0 pb-0">
        <form [formGroup]="claimData" (ngSubmit)="claimUsingEtherJS()">
            <mat-card-content>
                <div class="example-container1 row">
                    <div class="col-md-3">                       
							<mat-form-field appearance="outline">
								<mat-label class="text-capitalize">Beneficiary</mat-label>
								<input matInput placeholder="Beneficiary" formControlName='beneficiary'>
							</mat-form-field>                       
                    </div>
					<div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label class="text-capitalize">Location</mat-label>
							<input matInput placeholder="Location" formControlName='location'>
                           
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>CountryCode</mat-label>
                        <input type="text"
                               placeholder="Pick one"
                               aria-label="Number"
                               matInput
                               formControlName="countryCode"
                               [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.alpha3">
                            {{option.country}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      </div>
                   
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
							<mat-label class="text-capitalize">Purpose</mat-label>
							<input matInput placeholder="Purpose" formControlName='purpose'>
                        </mat-form-field>
                    </div>
                </div>
				<!-- <div class="example-container1 row">
				<div class="col-md-3" >
					<mat-form-field appearance="outline">
						<mat-label class="text-capitalize">periodStartDate </mat-label>
						<input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
							formControlName="periodStartDate" [max]="maxDate">
						<mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
						<ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
							[stepHour]="1" [stepMinute]="1" [stepSecond]="1" [touchUi]="false"
							[enableMeridian]="false" [disableMinute]="false" [hideTime]="false">
						</ngx-mat-datetime-picker>
					</mat-form-field>
				</div>
				<div class="col-md-3">
					<mat-form-field appearance="outline">
						<mat-label class="text-capitalize">periodEndDate </mat-label>
						<input matInput [ngxMatDatetimePicker]="picker1" placeholder="Choose a date"
							formControlName="periodEndDate" [max]="maxDate" >
						<mat-datepicker-toggle matSuffix [for]="$any(picker1)"></mat-datepicker-toggle>
						<ngx-mat-datetime-picker #picker1 [showSpinners]="true" [showSeconds]="false"
							[stepHour]="1" [stepMinute]="1" [stepSecond]="1" [touchUi]="false"
							[enableMeridian]="false" [disableMinute]="false" [hideTime]="false">
						</ngx-mat-datetime-picker>
						<mat-error class="py-3" *ngIf="addreads.errors?.['outofstartdateRang'] === true">
							Please add a valid endtimestamp
						</mat-error> 
					</mat-form-field>
				</div>
				</div>
               -->
            </mat-card-content>

            <mat-card-footer>
                <div class="example-container row">
                    <div class="col-12 d-flex px-4 py-2 justify-content-end">
                        <button type="submit" class="btn-primary btn text-capitalize px-4" [disabled]="claimData.invalid">submit</button>
                    </div>
                </div>
            </mat-card-footer>
        </form>
    </mat-card>
  </ng-template>
</div>
